
<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit-content" data-orbit>
      <li data-orbit-slide="headline-1">
        <div>
          <h2>Headline 1</h2>
          <h3>Subheadline</h3>
        </div>
        </li>
        <li data-orbit-slide="headline-2">
        <div>
          <h2>Headline 2</h2>
          <h3>Subheadline</h3>
        </div>
        </li>
        <li data-orbit-slide="headline-3">
        <div>
          <h2>Headline 3</h2>
          <h3>Subheadline</h3>
        </div>
      </li>
    </ul>
    <!-- <img src="http://placehold.it/1000x400&text=[img]">  -->
    <!-- <h1></h1> -->
  </div>
 <!--  <div class="large-6 columns">

  </div>
   -->
   <hr>

</div>
<div class="row">
  <div class="large-4 columns">
    <div id="piechart"></div>

  </div>
  <div class="large-8 columns">
    <h4>what do options have to do with it?</h4>
    <div class="row">
      <div class="large-6 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-6 columns">
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <h4>the numbers.</h4>
  </div>
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
  <hr>
</div>
<div class="row">
  <a name="map"></a>
  <div class="large-12 columns">
     <%= text_field_tag("search_text", nil, placeholder: "Search for programs") %>
  <div id="results"></div>
  <div class="large-12 columns">   
    <div id="map-canvas"></div>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/schools">Map</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
