<div id='loader'><span class='message'>loading</span></div>
<form class="search-form">
	<input class="search-field" type="text" />
</form>

<nav id='menu-ui' class='menu-ui'>
	<ul id='filters' class='side-nav'></ul>
</nav>

<div id="map"></div>

<pre id='output' class='ui-output'></pre>
<!-- <ul id='marker-list'></ul> -->

