<div id='loader'><span class='message'>loading</span></div>

<div class='col12'>
	<div class='contain'>
		<div id='modal-content' class='animate modal modal-content'>
			<form id='modal-name' class='modal-popup' method='post'>
				<div class='col6 modal-body fill-white contain'>
					<a href='#close' class='quiet pad1 icon fr close dark'></a>
					<div class='fill-blue dark pad2y'>
						<div class='pad4x center'>
							<h2>near where?</h2>
						</div>
						<div class='pad4x pad2y'>
							<input type='text' name='search-address' class='round clean stretch space-bottom2' placeholder='e.g. 623 East 68th Street' />
						</div>
					</div>
					<div class='fill-gray pad2y pad4x center clearfix'>
						<input type='submit' class='col6 margin3' value='submit address' />
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class='center'>
		<div id="map"></div>
	</div>

	<div id='sidebar' class='col5 pin-left'>
		<div id="top-section">
			
			<h1 id="title" class='fancy'>visualize-HS</h1>	
			<br>
			<br>
			<br>

			<div id="toggleBar">
				<div id="toggle" class='rounded-toggle inline quiet'>
					<input id='listToggle' type='radio' name='rtoggle' value='types' checked='checked'>
					<label for='listToggle'>view all</label>
					<input id='searchToggle' type='radio' name='rtoggle' value='search'>
					<label for='searchToggle'>search</label>
					<input id='filtersToggle' type='radio' name='rtoggle' value='types'>
					<label for='filtersToggle'>filter</label>
					<span> | </span>
					<a href='#' id='geolocate'>my location</a>
					<a href="/">reset</a>
				</div>
			</div>
		</div>
		<div id="bottom-section">
			<div id="search-option">
				<form class="search-form">
					<fieldset class='with-icon'>
						<span class='icon search'></span>
						<input type='text' value='search' />
					</fieldset>
				</form>
				<div id="search-results" class="pill"></div>
			</div>
			<div id="markers-list" class="pill">
			</div>
			<div id='filters'>
				<h3>school types</h3>
				<div id="types-list" class="pill"></div>
				<h3>interest areas</h3>
				<div id="interest-areas-list" class="pill"></div>
				<br>
				<br>

				<h3>results (select to jump to school)</h3>

				<div id="filtered-list" class="pill"></div>
			</div>
		</div>
		<footer>
			<p>2014 <a href="#" id="about" data-reveal-id="aboutModal">visualize-hs</a></p>
			<p><a>feedback</a></p>
		</footer>

		<div id="aboutModal" class="reveal-modal" data-reveal>
			<h2>about visualize-hs.</h2>
			<a class="close-reveal-modal">&#215;</a>
		</div>

	</div>
</div>





