<div id="map-canvas"></div>
<!-- <div id="chart_div"> -->
  <!--<script type="text/javascript">

    // var schoolDataAry = new Array(); //not a very protected way to do this!
    // function prepareDataforMap(schoolData) {
    //   schoolDataAry.push(['Lat', 'Long', 'Name']);
    //   for (i = 0; i < schoolData.length; i++) {
    //     schoolDataAry.push([parseFloat(schoolData[i].latitude), parseFloat(schoolData[i].longitude), schoolData[i].printed_school_name])
    //   };
    // };

    // prepareDataforMap(gon.schools); //not a very protected way to do this!

    // google.load('visualization', '1', { 'packages': ['map'] });
    // google.setOnLoadCallback(drawMap);

    
    // function drawMap() {      
    //   var data = google.visualization.arrayToDataTable(schoolDataAry);
    //   var options = { showTip: true };

    //   var map = new google.visualization.Map(document.getElementById('chart_div'));

    //   map.draw(data, options);
    // };


  </script>-->
<!-- </div> -->