#map {
 width: 100%;
 position:absolute;
 top:0; 
 bottom:0; 
}

/*fix zoom bar distortion problem*/
#map *, #map *:before, #map *:after {
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;  
}

#map img {
  max-width: none;
}

#map label {
  width: auto;
  display: inline;
}

map .leaflet-popup-content{padding:6px 6px 5px}
