#map {
 width: 100%;
 position:absolute;
 top:0; 
 bottom:0; 
}

/*fix zoom bar distortion problem*/
#map *, #map *:before, #map *:after {
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;  
}

#map img {
  max-width: none;
}

#map label {
  width: auto;
  display: inline;
}

.filter-ui {
  background:#fff;
  position:absolute;
  top:10px;
  right:10px;
  z-index:100;
  padding:10px;
  border-radius:3px;
  }

#menu {
  left: 20px;
  overflow:auto;
}

a {
  overflow: auto;
}

#filters {
  padding-top: 20px;
  clear: both;
}

#top-of-menu {
  z-index: 2;
}